<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fdc0b0">  <td>19/01/02 11:23:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:advanceLevel.TestCase@5ce81285]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/01/02 11:23:54</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:advanceLevel.TestCase@5ce81285]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/01/02 11:23:53</td>   <td>-792</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:advanceLevel.TestCase@5ce81285]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/01/02 11:23:54</td>   <td>-6</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase.setData()[pri:0, instance:advanceLevel.TestCase@5ce81285]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="c4c875">  <td>19/01/02 11:24:17</td>   <td>23626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.testCase()[pri:0, instance:advanceLevel.TestCase@5ce81285]">testCase</td> 
  <td>main@1468303011</td>   <td></td> </tr>
</table>
